/* Example of importing a font in styles.css */
@font-face {
  font-family: "Agrandir";
  src: url("./font/Agrandir/Agrandir-Regular.otf") format("opentype");
  /* Add additional font formats if needed */
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Agrandir", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
